<%= link_to "back to top page", "/boards" %>
<div class="row">
  <div class="small-12 columns">
    <h2><%= @room.title %></h2>
    <p><%= @room.description %></p>
    <hr>
    <div class="callout">
      <% @posts.each do |post| %>
      <ul class="menu vertical">
        <li><%= post.user %></li>
        <li><%= post.comment %></li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
